
body {
    background: linear-gradient(red, black); /* Standard syntax */
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	color: rgb(53,230,230);
}

footer {
	font-style: italic;
	font-size: 90%;
    color: white;
}

